body { font-family:tahoma,arial,helvetica,sans-serif; font-size:12px; }
.home { padding: 10px; }
.home p { margin: 6px 0 }
.x-tree-node-el .object-icon {  background-image: url(ext-2.0.2/resources/images/default/tree/leaf.gif) }
.field-wrapper, .field-wrapper input { width: 100%; }
input.form-item-disabled { background: #eee; }
.x-grid3-row td{-moz-user-select:text;}
.axtextfield-undefined { color: #999; }
#home-tab ul { list-style-type:disc; padding-left:15px; }
#home-tab ul li { padding-bottom: 5px; }
#multi-shell-field {position: fixed; position:expression("absolute");} /* workaround for FF cursor bug */