body { font-family:tahoma,arial,helvetica,sans-serif; font-size:12px;}
.login-panel { margin-left:20%; margin-top:100px;}
.logo-wrap { background:#FFFFFF url(/static/ext-2.0.2/resources/images/default/form/text-bg.gif) repeat-x; border: 1px solid #B5B8C8; }
.logo-wrap img { padding: 5px 25px; }
.x-form-item { margin: 7px 0; }
.error { font-weight:bold; color: #ba212a; }