<div class="classbox">
	<div><strong>{+new Link().toFile("index.html").withText("Global Objects and Functions")+}</strong></div>
	<if test="publish.currentClass != ''">
		<div><strong>{+new Link().toFile("extension.html").withText("Prototype Extensions")+}</strong></div>
	<else/>
		<div><strong>Prototype Extensions</strong></div>
	</if>
	<div><strong>{+new Link().toFile("builtin.html").withText("Built-in Prototypes")+}</strong></div>
	<div class="lastclass"><strong>{+new Link().toFile("hooks.html").withText("Hooks")+}</strong></div>
</div>

<div class="classbox">
<h4>Prototypes</h4>
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
		if(thisClass.alias == publish.currentClass){
			output += thisClass.alias;
		}
		else{
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for>
</ul>
</div>
