<div class="classbox">
	<div><strong>{+new Link().toFile("index.html").withText("Global Objects and Functions")+}</strong></div>
	<div><strong>{+new Link().toFile("extensions.html").withText("Prototype Extensions")+}</strong></div>
	<div><strong>{+new Link().toFile("builtin.html").withText("Built-in Prototypes")+}</strong></div>
	<if test="publish.currentClass != ''">
		<div class="lastclass"><strong>{+new Link().toFile("hooks.html").withText("Hooks")+}</strong></div>
	<else/>
		<div class="lastclass"><strong>Hooks</strong></div>	
	</if>												
</div>
<div class="classbox">
  <for each="bucket" in="data.methods">
	<h3>{+($bucket_key == '_global_' ? 'Global' : $bucket_key)+}</h3>
	<ul class="classList">
	  <for each="method" in="bucket">
		<li>{!
		  output += '<a href="#'+method.name+'">'
			+method.name+'</a>';
			
		  !}</li>
	  </for>
	</ul>
  </for>
</div>
