<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tal="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="description"/>
    <meta name="keywords"/>
    

    <title>Axiom Stack - Learn</title>	
    
    <link href="images/favicon.ico" rel="shortcut icon" type="image/gif"/>
    <link href="images/favicon.ico" rel="icon" type="image/gif"/>
    <link href="css/global.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="header contentwrap">
      <div class="global_header">
	<div class="logo">
	  <a href="http://www.axiomstack.com/"><img alt="Axiom Stack" src="images/logo.png" title="Axiom Stack"/></a>
	</div>

	<ul class="nav">
	  <li>
	    <a href="http://www.axiomstack.com/about/">ABOUT</a> <span>|</span>
	  </li><li>
	    <a class="current" href="http://www.axiomstack.com/learn/">LEARN</a> <span>|</span>
	  </li><li>
	    <a href="http://www.axiomstack.com/download/">DOWNLOAD</a> <span>|</span>
	  </li>
	  <li>
	    <a href="http://www.axiomstack.com/community/">COMMUNITY</a> <span>|</span>
	  </li>
	  <li>
	    <a href="http://www.axiomstack.com/company/">COMPANY</a>
	  </li>
	</ul>
      </div>

      
      <div class="headlines">
	<h1>Documentation</h1>
	<h2>tutorials, references and technical specifications</h2>
      </div>

      <form action="http://www.axiomstack.com/search" class="search" method="GET" name="search">
	<fieldset>
	  <input id="q" name="q" type="text"/>

	</fieldset>
	<fieldset>
	  <input type="submit" value="Search"/>
	</fieldset>
      </form>
    </div>
    
    <div class="navwrap">
      <ul class="sub_nav contentwrap">
	<li>
	  <a href="http://www.axiomstack.com/learn">Learn</a>
	</li>
	<li>
	  <a href="http://www.axiomstack.com/learn/technical-specifications">Technical Specifications</a>
	</li>
	<li class="current">
	  <a href="http://www.axiomstack.com/learn/api">API</a>
	</li>
      </ul>
    </div>


    <div class="contentwrap">
      <div class="page_content">
	<div class="main">
	  <div id="bodyContent">
	    <div id="index">
	      {+publish.classesIndex+}
	    </div>
	  
	    <div id="content">
	      <h2 class="classTitle">{+publish.classTitle+}</h2>
	      
	      <for each="thisClass" in="data">
		<div>
		  <h3>{+(new Link().toClass(thisClass.alias))+}</h3>
		  {+resolveLinks(summarize(thisClass.desc))+}
		</div>
		<hr />
	      </for>
	    </div>
	    <div class="fineprint" style="clear:both">
	      <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
	      Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="footer">
      <div class="contentwrap">	
	<div class="vcard">
	  
	  <span class="fn org">Axiom Software, Inc.</span>
	  <div class="adr">
	    <div class="street-address">11480 Commerce Park Drive, Third Floor</div>
	    <span class="locality">Reston</span>,
	    <span class="region">Virginia</span>
	    <span class="postal-code">20191</span>
	  </div>
	  
	</div>
	
	<div class="legal">&copy; 2008 Axiom Software, Inc. All Rights Reserved</div>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
      var pageTracker = _gat._getTracker("UA-796842-3");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
