<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<title>Axiom Stack - Learn</title>	
		<link href="css/global.css" rel="stylesheet" type="text/css"/>
	</head>
	<body class="section learn">
		<div id="wrapper">
			<div class="innerwrap">
				<div class="header">
					<div class="nav">
						<a href="http://www.axiomstack.com/" rel="home">Home</a> | 
						<span>
							<a href="http://www.axiomstack.com/about/">ABOUT</a><span> |</span>
						</span>
						<span>
							<a class="current" href="http://www.axiomstack.com/learn/">LEARN</a><span> |</span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/download/">DOWNLOAD</a><span> |</span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/community/">COMMUNITY</a><span> |</span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/contact/">CONTACT US</a><span> |</span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/company/">COMPANY</a>
						</span>
					</div>
					<div class="logo">
						<a href="http://www.axiomstack.com/"><img alt="Axiom Stack" src="images/logo.gif" title="Axiom Stack"/></a>
					</div>
					<div class="headlines">
						<h1>Documentation</h1>
						<h2>tutorials, references and technical specifications</h2>
					</div>
				</div>
				<div class="main">
					<div id="bodyContent">
		
		<div id="index">
			{+publish.classesIndex+}
		</div>
		
		<div id="content">
			<h1 class="classTitle">{+publish.classTitle+}</h1>
			
			<for each="thisClass" in="data">
			<div>
				<h2>{+(new Link().toClass(thisClass.alias))+}</h2>
				{+resolveLinks(summarize(thisClass.desc))+}
			</div>
			<hr />
			</for>
			
		</div>
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
					</div>
				</div>
			</div>	
			<div id="footer">
				<div class="innerwrap">
					<div class="nav">
						<a href="http://www.axiomstack.com/" rel="home">Home</a>
						<span>
							<a href="http://www.axiomstack.com/about/">ABOUT</a><span> </span>
						</span>
						<span>
							<a class="current" href="http://www.axiomstack.com/learn/">LEARN</a><span> </span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/download/">DOWNLOAD</a><span> </span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/community/">COMMUNITY</a><span> </span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/contact/">CONTACT US</a><span> </span>
						</span>
						<span>
							<a href="http://www.axiomstack.com/company/">COMPANY</a>
						</span>
					</div>
					<div class="vcard">
						<span class="fn">Axiom Software, Inc.</span>
						<div class="adr">
							<div class="street-address">11480 Commerce Park Drive, Third Floor</div>
							<span class="locality">Reston</span>, 
							<span class="region">Virginia</span> 
							<span class="postal-code">20191</span>
						</div>
					</div>
					<div class="legal">&copy; 2008 Axiom Software, Inc. All Rights Reserved<span>|</span><a href="http://www.axiomstack.com/license-agreement">License Agreement &amp; Privacy Policy</a></div>
				</div>
			</div>
		</div>
	</body>
</html>
