<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tal="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="description"/>
    <meta name="keywords"/>
    

    <title>Axiom Stack - Learn</title>	
    
    <link href="/favicon.ico" rel="shortcut icon" type="image/gif"/>
    <link href="/favicon.ico" rel="icon" type="image/gif"/>
    <link href="/static/global.css" rel="stylesheet" type="text/css"/>
    <link href="/static/section.css" rel="stylesheet" type="text/css"/>

    <script src="/static/clientside.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="header contentwrap">
      <div class="global_header">
	<div class="logo">
	  <a href="/"><img alt="Axiom Stack" src="/filefolder/logo.png" title="Axiom Stack"/></a>
	</div>

	<ul class="nav">
	  <li>
	    <a href="/about/">ABOUT</a><span> |</span>
	  </li><li>
	    <a href="/news/">AXIOM STACK NEWS</a><span> |</span>
	  </li><li>

	    <a class="current" href="/learn/">LEARN</a><span> |</span>
	  </li><li>
	    <a href="/download/">DOWNLOAD</a><span> |</span>
	  </li><li>
	    <a href="http://www.axiomblog.com">BLOG</a><span> |</span>

	  </li><li>
	    <a href="/contact/">CONTACT US</a><span> |</span>
	  </li><li>
	    <a href="/company/">COMPANY</a>
	  </li>
	</ul>
      </div>

      
      <div class="headlines">
	<h1>Documentation</h1>
	<h2>tutorials, references and technical specifications</h2>
      </div>

      <form action="http://www.axiomstack.com/search" class="search" method="GET" name="search">
	<fieldset>
	  <input id="q" name="q" type="text"/>

	</fieldset>
	<fieldset>
	  <input type="submit" value="Search"/>
	</fieldset>
      </form>
    </div>
    
    <div class="navwrap">
      <ul class="sub_nav contentwrap">
	<li>
	  <a href="/learn">Learn</a>
	</li>

	<li>
	  <a href="/learn/technical-specifications">Technical Specifications</a>
	</li>

	<li class="current">
	  <a href="/learn/api">API</a>

	</li>
      </ul>
    </div>


    <div class="contentwrap">
      <div class="page_content">
	<div class="main">
	  <div id="bodyContent">
	    <div id="index">
	      {+publish.classesIndex+}
	    </div>
	  
	    <div id="content">
	      <h2 class="classTitle">{+publish.classTitle+}</h2>
	      
	      <for each="thisClass" in="data">
		<div>
		  <h3>{+(new Link().toClass(thisClass.alias))+}</h3>
		  {+resolveLinks(summarize(thisClass.desc))+}
		</div>
		<hr />
	      </for>
	    </div>
	    <div class="fineprint" style="clear:both">
	      <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
	      Documentation generated by <a href="http://www.jsdoctoolkit.org/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="footer">
      <div class="contentwrap">
	
	<div class="nav">
	  <dl>
	    <dt class="section"><a href="/about">About</a></dt>
	    <dd>
	      <a href="/about/commercial-license">Commercial License</a>
	    </dd><dd>
	      <a href="/about/test_page">Test Page</a>
	      
	    </dd>
	  </dl><dl>
	    <dt class="section"><a href="/news">Axiom Stack News</a></dt>
	    
	  </dl><dl>
	    <dt class="section"><a href="/learn">Learn</a></dt>
	    <dd>
	      <a href="/learn/technical-specifications">Technical Specifications</a>
	      
	    </dd>
	  </dl><dl>
	    <dt class="section"><a href="/download">Download</a></dt>
	    <dd>
	      <a href="/download/open-source-licenses">Open Source Licenses</a>
	    </dd>
	  </dl><dl>
	    <dt class="section"><a href="http://www.axiomblog.com">Blog</a></dt>
	    
	    
	  </dl><dl>
	    <dt class="section"><a href="/contact">Contact Us</a></dt>
	    
	  </dl><dl>
	    <dt class="section"><a href="/company">Company</a></dt>
	    
	  </dl>
	</div>
	
	<div class="vcard">
	  
	  <span class="fn org">Axiom Software, Inc.</span>
	  <div class="adr">
	    <div class="street-address">11480 Commerce Park Drive, Third Floor</div>
	    <span class="locality">Reston</span>,
	    <span class="region">Virginia</span>
	    <span class="postal-code">20191</span>
	  </div>
	  
	</div>
	
	<div class="legal">© 2008 Axiom Software, Inc. All Rights Reserved</div>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
      var pageTracker = _gat._getTracker("UA-796842-3");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
