body {margin:0; padding:0; border-top:7px solid #669933; background:#fff; font-size:90%; font-family:"Georgia", "Times New Roman", sans-serif;}
a {text-decoration:none; color:#79a738;}
a:hover {text-decoration:underline;}
img {border:0;}
ul {margin:0 0 0 15px; padding:0;}
ul li {list-style-image:url(http://www.axiomstack.com/static/images/li-bg.gif);}
li a {color:#666;text-decoration:underline;}
li a:hover {text-decoration:none;}
h3, form fieldset legend{color:#79a738; font-size:1.4em; margin:0 0 9px 0; padding:0; font-weight:normal;}
h3 a {color:#79a738; text-decoration:none;}
h4 a {color:#666;}
h5 {margin-bottom: 5px;}

.contentwrap {margin:0px auto; width:768px; overflow:hidden;}

.header {margin-top:20px; margin-bottom:20px; overflow:hidden;}
.header .global_header {padding-bottom: 15px; overflow:hidden;}
.header .navigation {float:right;}
.header .nav {margin: 4px 0 0 0; list-style: none; float:left; text-align:right; color:#acd579; font-size:0.8em; text-transform:uppercase; font-weight:bold; font-family:"Trebuchet MS", sans-serif;}
.header .nav li {display: inline;}
.header .nav a{color:#3f3f3f;}
.header .nav a.current {color:#7aaa37;}
.header .logo {float:left;}
.header .headlines {margin:0; float:left; clear:both;}
.header h1, .header h2 {margin:0; padding:0; font-weight:normal; letter-spacing:0px;display:inline;}
.header .headlines h1 {font-size:1.75em; color:#666;margin-right:20px;}
.header .headlines h2 {font-size:1.15em; color:#999;}
.header .search {float:right;margin-left:15px;}
.header .search fieldset {border:none; float:left;margin:0;padding:0;}
.header .search input {width:60px;border:1px solid #7f9db9;height:18px;}
.header .search input[type="submit"] {background:url(http://www.axiomstack.com/static/images/search_icon.png) 0 0 no-repeat;border:none;width:25px;height:21px;}

#footer {background:#669933; padding:20px 0; font-weight:bold;}
#footer .nav {text-align: center; padding:0 0 14px 0; overflow:hidden; margin:0 auto;}
#footer .nav dl {float:left; list-style:none; margin-left:15px; width:135px;}
#footer .nav dt, #footer .nav dd {margin:0;padding:0;}
#footer .nav .section {text-transform:uppercase; padding:0;}
#footer .nav a {color:#fff; padding:0 15px 0 0; font-size:0.7em;text-decoration:underline;}
#footer .nav a:hover {text-decoration:none;}

#footer .vcard, #footer .legal {font-size: .7em;}
#footer .vcard {float:left; margin:0; padding:0 0 10px 0; color:#99cc33; }
#footer .vcard * {display:inline;}
#footer .legal {float:right; color:#99cc33;}
#footer .legal span {padding:0 15px;}
#footer .legal a {color:#000;}

.navwrap {padding:15px 0 0 0; margin-bottom:25px;}
.sub_nav {text-transform:uppercase; font-weight:bold; font-family:"Trebuchet MS", sans-serif; font-size:.85em;border-bottom:1px solid #a8c58a;overflow:visible;}
.sub_nav li {list-style:none;width:auto;margin:0;padding:0;display:inline;}
.sub_nav li a {margin:0; padding:0 15px; color:#fff; width:100%;color:#666;text-decoration:none;}
.sub_nav li.current a {width:auto;border:1px solid #a8c58a;border-width:1px 1px 0;background:#fff;color:#669933;position:relative;bottom:-1px;}
.sub_nav li.first a {border-left:none;}

.page_content {padding:0; color:#666;}
.page_content .feature, .release_notes div {overflow:hidden; padding:10px 30px 25px 10px; background:url(http://www.axiomstack.com/static/images/homepage/divider.jpg) 25% 100% no-repeat; margin-bottom: 25px;}
.page_content .feature h3{color:#fff; padding:0;}
.page_content .feature p {color:#000; font-size:0.9em;}
.page_content .feature ul {color:#666; font-size:0.80em;}
.page_content .feature .alt {color:#666;}
.page_content .feature .img {float:left; margin-right: 10px;}

.main {margin-bottom:25px; overflow:hidden;}

.pagination {overflow:hidden; float:right;}
.pagination li {list-style:none; float:left; padding:0 2px;}

.results p {font-size: .8em; margin:0;}
.results a {display:block;}
.results .direct {font-size: .7em;}
.results li {margin-bottom:10px;}

.api a {display:block;margin:0 0 3px 10px;font-size:.95em;}
.summary {margin-bottom: 20px;}

.licensewrap {border:1px solid #ccc; background:#e4f1d1; padding:6px; width:756px;}
.license {border:solid 1px #ccc; background:#fff; width:726px; height:430px; overflow:auto; padding:10px 14px; font-size:13px;}
.license h3, .license p {margin:3px 0 0 0; padding:0;}
.license h3 {font-size:13px; font-weight:bold;}

#password_reset_form, .resetSuccessful {float:left; margin-bottom:100px; width:530px;}
.forum #form_reg fieldset, .form #contact_us_form fieldset {padding:0px; border:none;}
.form #form_reg label, .form #contact_us_form label, #password_reset_form label {color:#666; float:left; margin:0 0 7px 0; padding:4px 10px 4px 0px; text-align:right; width:130px;}
#password_reset_form fieldset {padding:0px; margin:0px; float:left;}
#password_reset_form label {width:auto;}
.form #contact_us_form label {width:104px;}
.contact .form label {clear:both; margin:0 0 7px 0;}
.contact .form input, .contact .form button, .form #form_reg input, .form #form_reg button, #password_reset_form input{margin:0 0 7px 0; padding:4px 10px; width:364px; border:1px solid #ccc; background:#e9e9e9;}
#password_reset_form input {margin-right:20px;}
.form ul.errors{color:#FF476C; list-style-position:outside; padding-left:18px; margin-bottom:20px;}
.form ul {padding-left:0; list-style-position:inside;}

.contact .form .submit, .form #form_reg .submit{float:left; margin:13px 0 0 144px; *width:88px; *margin-left:141px;}
* html .contact .form .submit {margin:13px 0 0 72px;}
* html .form #form_reg .submit {margin:13px 0 0 72px;}
.contact .form .submit {margin:6px 0 0 116px; *width:auto;}
* html .contact .form .submit {margin:6px 0 0 58px;}
.contact .form .submit p {float:left; width:335px; font-size:0.8em; margin:0; padding:0;}
.contact .form .submit input, .form #form_reg #submit{clear:none; float:right; text-align:center; cursor:pointer; margin:0; padding:0; background:url(http://www.axiomstack.com/static/images/form-contact-submit.gif) 0 0 no-repeat; width:88px; height:27px; border:0; color:#fff;}
#password_reset_form .submit input{float:left;}
#password_reset_form .submit {margin:10px 0 0 53px; float:left;}
.contact .form .submit input {float:left; clear:left; margin-top:10px; *margin-left:-115px;}
* html .contact .form .submit input {margin-left:-55px;}

.issue_tracker .pagecontent h4{margin-bottom:0px;}

.learn .main #toc #toctitle h2, .learn .main h2 {clear:both; color:#666; font-size:1.3em; margin:20px 0; padding:0;}
.learn .main ul li {color:#6C9123; font-weight:normal; margin:15px 0 0 15px;}
.learn .main ul li ul li {margin-top:5px;}

a.forgotpass{display:block; width:88px; font-size:11px;}
.main .forum .right a.forgotpass:hover {text-decoration:underline;}
.pwResetPage .error {color:#FF476C;}
.noToken .error {margin-bottom:70px;}
.noToken .setMargin {margin-bottom:70px;}
.reset form#password_reset_form fieldset input {width:350px;}
.reset form#password_reset_form fieldset {float:right;}
.reset form#password_reset_form .submit {margin-left:70px;}
.noToken .error a {color:#FF476C; text-decoration:underline;}

.errors {color:red; border: 1px solid red; padding: 10px; margin-bottom: 20px;}
.errors li {list-style:none;}
form fieldset {border:none;}
form label, form input {float:left;}
form label {clear:both; width: 150px;}
form label span {color:red;}
input[type=submit] {margin:0 10px 0 10px;}

/* Styles for JsDoc Generated Markup */

.main {overflow:hidden;}
.main #toc #toctitle h3, .main h3 {color:#666; font-size:1.3em; margin:20px 0; padding:0;}
.main ul li {color:#6C9123; font-weight:normal; margin:15px 0 0 15px;}
.main ul li ul li {margin-top:5px;}

#bodyContent pre {overflow:auto;}

#index {width:200px; float:left; font-size:1em; color:#666;}
#index .classbox {border:1px solid #ccc; background: #f4f4f4; padding:10px; width:180px; margin-bottom:15px;}
#index .classbox h4 {margin:0 0 20px 0;}
#index .classbox ul {margin-bottom:20px;}
#index .classbox ul li {color:#666;}
#index .classbox div {padding:10px 0; border-bottom:1px solid #ccc;}
#index .classbox div.lastclass {border:0}
#index h2 {color:#000;}
#index a {color:#79A738;}
#index ul li {margin:0;}
#content {width:550px; padding-left:15px; float:left; font-size:1em; color:#666;}
#content h3 {margin-top:0; color:#000;}
#content a {color:#79A738;}
#content div.fixedFont {padding-bottom:10px;}
#content span.light {font-style:italic;}
#content table.summaryTable {width:100%; margin-bottom:25px;}
#content table.summaryTable caption {padding:10px; background:#666; font-weight:bold; color:#fff; text-align:left;}
#content table.summaryTable th {display:none;}
#content table.summaryTable td {border-bottom:1px solid #666; border-right: 1px solid #666; padding: 5px;}
#content table.summaryTable td a {color:#79A738;}
#content table.summaryTable td.noconstructorattribs {border-left:1px solid #666;}
#content table.summaryTable td.attributes {font-style:italic; text-align:right; border-left:1px solid #666;}
#content table.summaryTable td.nameDescription div.fixedFont {padding:0;}
#content div.sectionTitle {padding:10px; background:#666; font-weight:bold; color:#fff; margin:20px 0 10px 0;}
#content hr {height:1px; border:none 0; border-top:1px solid #666; margin:20px 0;}
#content dt.heading {font-weight:bold;}
#content dl a {color:#79A738;}
.fineprint {clear:both; padding-top:15px; font-size:.7em; color:#666;}