body { font-family:tahoma,arial,helvetica,sans-serif; font-size:12px; }
.home { padding: 10px; }
.home p { margin: 6px 0 }
.x-tree-node-el .object-icon {  background-image: url(ext-2.1/resources/images/default/tree/leaf.gif) }
.field-wrapper, .field-wrapper input { width: 100%; }
input.form-item-disabled { background: #eee; }
.x-grid3-row td{-moz-user-select:text;}
.axtextfield-undefined { color: #999; }
#home-tab ul { list-style-type:disc; padding-left:15px; }
#home-tab ul li { padding-bottom: 5px; }
#multi-shell-field {position: fixed; position:expression("absolute");} /* workaround for FF cursor bug http://extjs.com/forum/showthread.php?t=1519&page=2 */
.x-grid3-body .breakpoint { background:transparent url(ext-2.1/resources/images/default/grid/grid3-special-col-bg-breakpoint.gif) repeat-y scroll right center !important;}
.x-grid3-row { border-color:#FFF; }
.debug-btn .x-btn-center button { padding: 0 4px;}